@media screen and (max-width: 425px) {
  .header {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    margin: 0px;
    min-height: 16%;
    padding: 0px;
    position: fixed;
    width: 100%;
  }
  
  .title-container {
    align-items: center;
    padding: 10px;
  }
  
  .title {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
  }
  
  .paragraph-description {
    font-size: 12px;
    margin: 0px;
    padding: 2px 0px 0px 0px;
  }
  
  .laptopCode-icon {
    font-size: 15px;
  }
  
  /* BURGUER MENU */
  .menu-btn {
    align-items: center;
    display: flex;
    height: 35px;
    justify-content: center;
    margin-left: 10px;
    transition: all .3s ease-in-out;
    width: 35px;
  }
  
  .menu-btn__burger {
    width: 20px;
    height: 3px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .3s ease-in-out;
  }
  
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    background: rgb(248, 248, 248);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .3s ease-in-out;
  }
  
  .menu-btn__burger::before {
    transform: translateY(-8px);
  }
  
  .menu-btn__burger::after {
    transform: translateY(8px);
  }
  
  /* ANIMATION HAMBURGUER MENU */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(50px);
    background: transparent;
    box-shadow: none;
  }

  .menu-btn.open {
    background: rgb(102, 101, 101);
    border-radius: 10px;
  }
  
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(-35px, 35px);
  }
  
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(-35px, -35px);
  }

  .ul-menu {
    text-align: center;
    background: rgba(0, 0, 0, 1);
    border-top: 1px solid rgb(41, 41, 41);
    color: white;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    height: 0px;
    line-height: 40px;
    list-style: none;
    position: absolute;
    right: 0;
    top: 100%;
    transition: .6s;
    visibility: hidden;
    overflow-y: hidden;
    width: 100%;
    z-index: 10000;
  }

  .nav.active .ul-menu {
    height: 55vh;
    line-height: 60px;
    overflow-y: auto;
    padding: 30px;
    visibility: visible;
  }
}