@media screen and (max-width: 479px) {
  .application-footer {
    align-items: center;
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .footer-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 40px 0px 30px;
  }
  
  .copyright {
    color: white;
  }

  .back-to-top-text {
    color: white;
    font-weight: 700;
    margin-top: 25%;
  }

  .back-to-top-container {
    display: flex;
    justify-content: center;
    margin-left: 50%;
    margin-top: 63%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  .back-to-top-container p {
    animation: top 2s infinite;
    border-top: 3px solid #ffffff9c;
    border-left: 3px solid #ffffff9c;
    display: block;
    height: 15px;
    margin: -8px;
    transform: rotate(45deg);
    width: 15px;
  }

  .back-to-top-container p:nth-child(2) {
    animation-delay: 0.2s;
  }

  .back-to-top-container p:nth-child(3) {
    animation-delay: 0.4s;
  }

  @keyframes top {
    0% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .application-footer {
    align-items: center;
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .footer-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 10% 0% 5%;
  }
  
  .copyright {
    color: white;
    font-size: 3rem;
  }

  .back-to-top-text {
    color: white;
    font-size: 3rem;
    font-weight: 700;
  }

  .back-to-top-container {
    display: flex;
    justify-content: center;
    margin-left: 50%;
    margin-top: 93%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  .back-to-top-container p {
    animation: top 2s infinite;
    border-top: 10px solid #ffffff9c;
    border-left: 10px solid #ffffff9c;
    display: block;
    height: 50px;
    margin: -8px;
    transform: rotate(45deg);
    width: 50px;
  }

  .back-to-top-container p:nth-child(2) {
    animation-delay: 0.2s;
  }

  .back-to-top-container p:nth-child(3) {
    animation-delay: 0.4s;
  }

  @keyframes top {
    0% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 960px) {
  .application-footer {
    align-items: center;
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .footer-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 10% 0% 5%;
  }
  
  .copyright {
    color: white;
    font-size: 2.5rem;
  }

  .back-to-top-text {
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
  }

  .back-to-top-container {
    display: flex;
    justify-content: center;
    margin-left: 50%;
    margin-top: 65%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  .back-to-top-container p {
    animation: top 2s infinite;
    border-top: 8px solid #ffffff9c;
    border-left: 8px solid #ffffff9c;
    display: block;
    height: 40px;
    margin: -8px;
    transform: rotate(45deg);
    width: 40px;
  }

  .back-to-top-container p:nth-child(2) {
    animation-delay: 0.2s;
  }

  .back-to-top-container p:nth-child(3) {
    animation-delay: 0.4s;
  }

  @keyframes top {
    0% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
    }
  }
}