html {
  background-image: url(https://www.jonathasguerra.com.br//img/hero/1.jpg);
  height: 100%;
}

.root {
  height: 100%;
}

.App {
  display: flex;
  min-height: 100%;
  justify-content: center;
}

.date {
  color: white;
  font-weight: bolder;
}

.date-container {
  display: flex;
  min-height: 690px;
  align-items: flex-end;
}
