/* .App {
  background-image: url(/src/images/backgroundmin768-initial-screen.jpg);
  background-position: center center;
  background-size: cover;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.footer {
  height: 100%;
  position: fixed;
}

.date-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  margin: 0px;
  padding: 0px;
}

.copyright {
  color: white;
  margin: 0px;
} */

@media screen and (max-width: 425px) {
  * {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }

  .App {
    /* align-items: center; */
    /* align-content: space-between; */
    /* background-attachment: fixed; */
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 0px;
    padding: 0px;
  }
}
